@charset "UTF-8";
    

@media screen and (min-width: 768px) and (max-width: 992px) {

    body, html {
        background-image: linear-gradient(to bottom,rgb(158, 89, 223), rgb(109, 77, 136),rgb(7, 79, 112));
        background-attachment: fixed;
    }
    
    section#login {
        width: 80vw;
        height: 300px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p {
        letter-spacing: 1px;
        margin: 10px;
    }

    input#enviar {
        width: 80%;
    }

    a#sen {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {

    body, html {
        background-image: linear-gradient(to bottom,rgb(158, 89, 223), rgb(109, 77, 136),rgb(7, 79, 112));
        background-attachment: fixed;
    }

    section#login {
        width: 950px;
        height: 305px;
    }
    
    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p {
        letter-spacing: 1px;
        margin: 10px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    input#enviar {
        width: 80%;
    }

    a#sen {
        width: 80%;
    }
    
}
